[submodule "nvim/bundle/vim-airline"]
	path = nvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "nvim/bundle/vim-pathogen"]
	path = nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "nvim/bundle/vim-gitgutter"]
	path = nvim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "nvim/bundle/vim-colors-solarized"]
	path = nvim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/bundle/nerdtree"]
	path = nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nvim/bundle/vim-bufferlist"]
	path = nvim/bundle/vim-bufferlist
	url = https://github.com/roblillack/vim-bufferlist.git
[submodule "nvim/bundle/tagbar"]
	path = nvim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "nvim/bundle/syntastic"]
	path = nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "nvim/bundle/vim-phpqa"]
	path = nvim/bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "nvim/bundle/nerdcommenter"]
	path = nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nvim/bundle/vim-proc"]
	path = nvim/bundle/vim-proc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "nvim/bundle/vim-unite"]
	path = nvim/bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "nvim/bundle/vim-phpcomplete-ext"]
	path = nvim/bundle/vim-phpcomplete-ext
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "nvim/bundle/vim-ycm"]
	path = nvim/bundle/vim-ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "nvim/bundle/vim-jsx"]
	path = nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "nvim/bundle/vim-indent-guides"]
	path = nvim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "nvim/bundle/vim-jsdoc"]
	path = nvim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "nvim/bundle/vim-nerdtree-tabs"]
	path = nvim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "nvim/bundle/vim-javascript"]
	path = nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "nvim/bundle/vim-projectlocal"]
	path = nvim/bundle/vim-projectlocal
	url = https://github.com/krisajenkins/vim-projectlocal.git
[submodule "nvim/bundle/vim-hack"]
	path = nvim/bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule "nvim/bundle/phpcomplete-extended"]
	path = nvim/bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "nvim/bundle/delimitMate"]
	path = nvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "nvim/bundle/vim-autoformat"]
	path = nvim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "nvim/bundle/vim-flow"]
	path = nvim/bundle/vim-flow
	url = git@github.com:facebook/vim-flow.git
[submodule "nvim/bundle/vim-ctrlp-cmdpalette"]
	path = nvim/bundle/vim-ctrlp-cmdpalette
	url = https://github.com/fisadev/vim-ctrlp-cmdpalette.git
[submodule "nvim/bundle/vimproc.vim"]
	path = nvim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "nvim/bundle/vim-go"]
	path = nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "nvim/bundle/ag.vim"]
	path = nvim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "nvim/bundle/vim-hdevtools"]
	path = nvim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "nvim/bundle/deoplete.nvim"]
	path = nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "nvim/bundle/vim-airline-themes"]
	path = nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "nvim/bundle/neco-ghc"]
	path = nvim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "nvim/bundle/vim-pandoc"]
	path = nvim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "nvim/bundle/haskell-vim"]
	path = nvim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "nvim/bundle/ghcmod-vim"]
	path = nvim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "nvim/bundle/deoplete-go"]
	path = nvim/bundle/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "nvim/bundle/editorconfig-vim"]
	path = nvim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "nvim/bundle/vim-hare"]
	path = nvim/bundle/vim-hare
	url = git://github.com/glittershark/vim-hare.git
[submodule "nvim/bundle/vim-pandoc-syntax"]
	path = nvim/bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
[submodule "nvim/bundle/neomake"]
	path = nvim/bundle/neomake
	url = git@github.com:neomake/neomake.git
[submodule "nvim/bundle/NrrwRgn"]
	path = nvim/bundle/NrrwRgn
	url = git@github.com:chrisbra/NrrwRgn.git
[submodule "nvim/bundle/vim-irssi-syntax"]
	path = nvim/bundle/vim-irssi-syntax
	url = git@github.com:isundil/vim-irssi-syntax.git
[submodule "nvim/bundle/taskpaper.vim"]
	path = nvim/bundle/taskpaper.vim
	url = git@github.com:etcinit/taskpaper.vim.git
